* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #5e6b5d;
  background-color: #fff3e4;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.float-right {
  float: right;
  margin: 0 0 12px 32px;
}

.float-left {
  float: left;
  margin: 0 32px 24px 0;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px;
}

.logo {
  margin-bottom: 24px;
}

.logo img {
  width: 100%;
  height: 150px;
}

header .buttons {
  display: flex;
  justify-content: space-around;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.buttons a,
footer a,
.button {
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff3e4;
  text-decoration: none;
  font-weight: 800;
  display: flex;
  align-items: center;
  font-size: 20px;
  transition: all 0.3s ease;
  text-transform: uppercase;
}

.icon-container {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.icon-container img {
  height: 22px;
  width: auto;
}

.schedule-button {
  margin-right: 14px;
  background-color: #d97058;
  box-shadow: 4px 4px 0 #a53f28;
}

.schedule-button:hover {
  background-color: #eb7a60;
}

.call-button {
  background-color: #5e6b5d;
  box-shadow: 4px 4px 0 rgb(70, 80, 69);
  margin-right: 14px;
}

.call-button:hover {
  background-color: #758574;
}

.address {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-transform: uppercase;
  background-color: rgb(216, 216, 216);
  padding: 15px;
  border-radius: 10px;
  box-shadow: 5px 5px 0px 0px #0000004c;
  font-weight: 700;
}

.address p {
  margin-bottom: 12px;
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  color: #5e6b5d;
}

.address p:last-of-type {
  margin-bottom: 0;
}

.google-maps {
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff3e4;
  text-decoration: none;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  background-color: #555555;
  box-shadow: 4px 4px 0 #343434;
  text-transform: uppercase;
}

.google-maps:hover {
  background-color: #6a6a6a;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0 60px;
}

.hero .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero .image-container img {
  max-width: 600px;
  width: 100%;
}

.hero .text-container {
  width: 60%;
  padding: 0 20px 0 0;
}

.hero .text-container h1 {
  font-size: 54px;
  font-family: 'Playfair Display', serif;
  margin: 0;
  font-weight: 400;
  margin-bottom: 12px;
}

.hero .text-container h1 em {
  font-weight: 800;
  font-size: 82px;
}

.hero .text-container h2 {
  font-family: 'Playfair Display', serif;
  font-size: 22px;
  line-height: 38px;
  margin-bottom: 12px;
  font-weight: 400;
  text-align: justify;
}

.hero .buttons {
  display: flex;
}

.hero .buttons a {
  margin-right: 14px;
  background-color: #d97058;
  box-shadow: 4px 4px 0 #a53f28;
  transition: background-color 0.3s ease;
}

.hero .buttons a:hover {
  background-color: #f07d63;
}

section {
  position: relative;
}

.editorial {
  display: block;
  width: 100%;
  height: 60px;
  max-height: 60px;
  margin: 0;
  z-index: 5;
  bottom: 0;
  position: relative;
  left: 0px;
  float: left;
  background-color: #fff3e4;
}

.editorial.flipped {
  transform: scaleY(-1);
}

.parallax1 > use {
  animation: move-forever1 20s linear infinite;
  &:nth-child(1) {
    animation-delay: -2s;
  }
}
.parallax2 > use {
  animation: move-forever2 18s linear infinite;
  &:nth-child(1) {
    animation-delay: -2s;
  }
}
.parallax3 > use {
  animation: move-forever3 16s linear infinite;
  &:nth-child(1) {
    animation-delay: -2s;
  }
}
.parallax4 > use {
  animation: move-forever4 14s linear infinite;
  &:nth-child(1) {
    animation-delay: -2s;
  }
}
@keyframes move-forever1 {
  0% {
    transform: translate(85px, 0%);
  }
  100% {
    transform: translate(-90px, 0%);
  }
}
@keyframes move-forever2 {
  0% {
    transform: translate(-90px, 0%);
  }
  100% {
    transform: translate(85px, 0%);
  }
}
@keyframes move-forever3 {
  0% {
    transform: translate(85px, 0%);
  }
  100% {
    transform: translate(-90px, 0%);
  }
}
@keyframes move-forever4 {
  0% {
    transform: translate(-90px, 0%);
  }
  100% {
    transform: translate(85px, 0%);
  }
}

.green {
  background-color: #778976;
  /* border-top: 11px solid #fff3e4; */
  /* border-bottom: 11px solid #fff3e4; */
}

.white {
  background-color: #fff3e4;
  /* border-top: 11px solid #778976; */
  /* border-bottom: 11px solid #778976; */
}

.green .container {
  color: #fff3e4;
}

.green p a {
  display: inline-flex;
  align-items: center;
  font-weight: 500;
  color: #778976;
  background-color: #fff3e4;
  text-decoration: none;
  padding: 2px 8px;
  margin: 0 2px 0 0;
  border-radius: 6px;
  transition: all 0.3s ease;
}

.green p a:hover {
  color: #fff3e4;
  background-color: #5e705c;
}

.green p a .link-icon {
  width: 22px;
  height: 22px;
  margin-left: 6px;
}

.green p a .link-icon path {
  fill: #778976;
  transition: fill 0.3s ease;
}

.green p a:hover .link-icon path {
  fill: #fff3e4;
}

.green p a span.link-address {
  font-size: 16px;
  margin: 0 0 0 4px;
}

.content .container {
  display: block;
  margin: 0 auto;
  padding: 30px 10px;
  overflow: hidden;
}

.content-float {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

.content .container h1 {
  font-family: 'Playfair Display', serif;
  text-align: center;
  font-size: 64px;
  margin-bottom: 24px;
  font-weight: 800;
}

.content .container h2 {
  display: block;
  width: 100%;
  font-family: 'Playfair Display', serif;
  font-size: 48px;
  margin-bottom: 18px;
}

.green .container {
  color: #fff3e4;
}

.content img {
  border-radius: 10px;
  box-shadow: 5px 5px 0px 0px #0000004c;
}

.content img.float-right {
  float: right;
  max-width: 550px;
}

.content img.float-left {
  float: left;
  max-width: 550px;
}

.content .container p {
  font-size: 28px;
  line-height: 48px;
  margin-bottom: 32px;
}

.content .left,
.content .right {
  width: 48%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content iframe {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  box-shadow: 5px 5px 0px 0px #0000004c;
}

.content .center {
  display: block;
  margin: 0 auto;
  max-width: 800px;
  width: 100%;
  margin-bottom: 24px;
}

.lists-two-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 32px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 5px 5px 0px 0px #0000004c;
}

.lists-two-column ul {
  display: flex;
}

.lists-two-column ul:last-of-type {
  margin-bottom: 0;
}

.lists-two-column ul li {
  display: flex;
  align-items: center;
  width: 50%;
  list-style: none;
  font-weight: 700;
  padding: 20px 40px;
  font-size: 28px;
  line-height: 48px;
  background-color: rgb(232, 232, 232);
  border-right: 3px dotted #fff;
  border-bottom: 3px dotted #fff;
}

.lists-two-column ul:nth-child(even) li {
  background-color: rgb(216, 216, 216);
}

.our-services ul li:last-of-type {
  border-right: none;
}

.our-services ul:last-of-type li {
  border-bottom: none;
}

.content .button {
  display: flex;
  justify-content: center;
  margin-right: 0;
}

footer {
  /* background: #354234; */
  padding: 100px 0 50px;
  color: #5e6b5d;
}

footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .left {
  display: flex;
}

footer .right p {
  line-height: 25px;
  text-align: right;
}

footer .center {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 14px;
  letter-spacing: 1px;
  margin-top: 25px;
}

footer .center a {
  font-size: 14px;
  display: inline-flex;
  align-items: center;
  font-weight: 500;
  color: #fff3e4;
  background-color: #a53f28;
  text-decoration: none;
  padding: 4px 6px;
  margin: 0 2px 0 0;
  border-radius: 3px;
  text-transform: capitalize;
  transition: all 0.3s ease;
}

footer .center a svg {
  margin: 0 0 0 3px;
  height: 14px;
}

footer .center a svg path {
  fill: #fff3e4;
}

footer .center a:hover {
  background-color: #f07d63;
}

.hero-image.blur-image {
  filter: blur(15px);
  transition: filter 2s ease-in-out;
}

.hero-image.unblur-image {
  filter: blur(0);
  transition: filter 2s ease-in-out;
}

.blur-image {
  filter: blur(5px);
  transition: filter 0.3s ease-in-out;
}

.unblur-image {
  filter: blur(0);
  transition: filter 0.3s ease-in-out;
}

/* Mobile Optimizations Below */
@media (max-width: 1200px) {
  header .logo {
    margin-bottom: 12px;
  }
  header .buttons {
    flex-direction: column;
    margin-bottom: 12px;
  }
  header .buttons a {
    margin: 0 0 12px 0;
  }
  header .buttons a:last-of-type {
    margin-bottom: 0;
  }
  .address {
    display: none;
  }
  .hero {
    padding: 0;
  }
  .hero .container {
    flex-direction: column;
  }
  .hero .text-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .hero .text-container p {
    text-align: center;
  }
  .image-container {
    display: none;
  }
  .hero .buttons {
    flex-direction: column;
  }
  .hero .buttons a {
    margin: 0 0 12px 0;
    justify-content: center;
  }
  .content .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .float-right {
    width: 100%;
    float: none;
    margin: 0 0 12px 0;
  }
  .lists-two-column {
    width: 100%;
  }
  .lists-two-column ul {
    flex-direction: column;
  }
  .lists-two-column ul li {
    width: initial;
    padding: 10px 20px;
    border-right: none;
  }
  .lists-two-column ul:nth-child(2n) li {
    background-color: rgb(232, 232, 232);
  }

  .lists-two-column ul li:nth-child(2) {
    background-color: rgb(216, 216, 216);
  }
  .content-float {
    flex-direction: column;
  }
  .content .left,
  .content .right {
    width: initial;
  }
  .content .center {
    margin-bottom: 0;
  }
  .content iframe {
    min-height: 250px;
  }
  footer .container {
    flex-direction: column;
  }
  footer .left {
    flex-direction: column;
    align-items: center;
    margin: 0 0 12px 0;
  }
  .call-button {
    margin: 0 0 12px 0;
  }
  footer .right {
    margin: 0 0 12px 0;
  }
  footer .right p {
    text-align: center;
  }
}
