* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.float-right {
  float: right;
  margin: 0 0 24px 12px;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
}

.logo {
  margin-bottom: 24px;
}

.buttons {
  display: flex;
  justify-content: space-around;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.buttons a,
footer a {
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  display: flex;
  align-items: center;
  font-size: 20px;
}

.icon-container {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.icon-container img {
  height: 22px;
  width: auto;
}

.schedule-button {
  margin-right: 14px;
  background-color: #d97058;
  box-shadow: 4px 4px 0 #a53f28;
}

.call-button {
  background-color: #616847;
  box-shadow: 4px 4px 0 #383c29;
  margin-right: 14px;
}

.address {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.address p {
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  margin-bottom: 5px;
  letter-spacing: 1px;
  color: #1c1c1c;
}

.address p:last-of-type {
  margin-bottom: 0;
}

.google-maps {
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  background-color: #555555;
  box-shadow: 4px 4px 0 #343434;
  text-transform: uppercase;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero .image-container img {
  max-width: 600px;
  width: 100%;
}

.hero .text-container p {
  font-size: 54px;
  font-family: 'Playfair Display', serif;
  margin: 0;
  max-width: 500px;
  font-weight: 400;
  margin-bottom: 12px;
}

.hero .text-container p em {
  font-weight: 600;
}

.hero .text-container p:last-of-type {
  font-size: 22px;
  line-height: 38px;
  margin-bottom: 0;
}

.green {
  background-color: #778976;
}

.divider {
  display: flex;
  justify-content: center;
  background-repeat: repeat-x;
  margin-bottom: 12px;
}

.content .container {
  display: block;
  margin: 0 auto;
  padding: 60px 0;
}

.content .container h1 {
  font-family: 'Playfair Display', serif;
  text-align: center;
  font-size: 48px;
  margin-bottom: 38px;
  font-weight: 600;
}

.content .container h2 {
  font-size: 36px;
  margin-bottom: 18px;
}

.green .container {
  color: #fff;
}

.about-the-doc .divider {
  background-image: url('images/divider-repeat.png');
}

.content .divider img {
  box-shadow: none;
  border-radius: 0;
}

.content img {
  border-radius: 10px;
  box-shadow: 5px 5px 0px 0px #0000004c;
}

.content img.float-right {
  float: right;
  max-width: 450px;
}

.content .container {
  overflow: hidden;
}

.content .container p {
  font-size: 28px;
  line-height: 48px;
  margin-bottom: 32px;
}

.content .center {
  display: block;
  margin: 0 auto;
  max-width: 800px;
  width: 100%;
  margin-bottom: 24px;
}

.our-services .divider {
  background-image: url('images/divider-repeat-services.png');
}

footer {
  display: flex;
  background: #485347;
  padding: 35px 0;
}

footer .container {
  display: flex;
}

footer .left {
  display: flex;
}
