* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #383c29;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.content.green p a {
  display: inline-flex;
  align-items: center;
  font-weight: 500;
  color: #778976;
  background-color: #fff;
  text-decoration: none;
  padding: 2px 8px;
  margin: 0 2px 0 0;
  border-radius: 6px;
  /* border-bottom: 4px solid rgba(255, 255, 255, 0); */
  transition: all 0.3s ease;
}

.content.green p a:hover {
  color: #fff;
  background-color: #5e705c;
  /* border-bottom: 4px solid rgb(255, 255, 255); */
}

.content.green p a .link-icon {
  width: 22px;
  height: 22px;
  margin-left: 6px;
}

.content.green p a .link-icon path {
  fill: #778976;
  transition: fill 0.3s ease;
}

.content.green p a:hover .link-icon path {
  fill: #fff;
}

.content.green p a span.link-address {
  font-size: 16px;
  margin: 0 0 0 4px;
}

.float-right {
  float: right;
  margin: 0 0 12px 32px;
}

.float-left {
  float: left;
  margin: 0 32px 24px 0;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px;
}

.logo {
  margin-bottom: 24px;
}

.logo img {
  width: 100%;
  height: 150px;
}

header .buttons {
  display: flex;
  justify-content: space-around;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.buttons a,
footer a,
.button {
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
  text-decoration: none;
  font-weight: 800;
  display: flex;
  align-items: center;
  font-size: 20px;
}

.icon-container {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.icon-container img {
  height: 22px;
  width: auto;
}

.schedule-button {
  margin-right: 14px;
  background-color: #d97058;
  box-shadow: 4px 4px 0 #a53f28;
}

.call-button {
  background-color: #616847;
  box-shadow: 4px 4px 0 #383c29;
  margin-right: 14px;
}

.address {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-transform: uppercase;
  margin-bottom: 12px;
  background-color: rgb(216, 216, 216);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 5px 5px 0px 0px #0000004c;
  font-weight: 500;
}

.address p {
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 26px;
  color: #383c29;
}

.google-maps {
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  background-color: #555555;
  box-shadow: 4px 4px 0 #343434;
  text-transform: uppercase;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
}

.hero .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero .image-container img {
  max-width: 600px;
  width: 100%;
}

.hero .text-container {
  width: 60%;
}

.hero .text-container p {
  font-size: 54px;
  font-family: 'Playfair Display', serif;
  margin: 0;
  font-weight: 400;
  margin-bottom: 12px;
}

.hero .text-container p em {
  font-weight: 800;
}

.hero .text-container p:last-of-type {
  font-size: 22px;
  line-height: 38px;
  margin-bottom: 12px;
}

.hero .buttons {
  display: flex;
}

.hero .buttons a {
  margin-right: 14px;
  background-color: #d97058;
  box-shadow: 4px 4px 0 #a53f28;
  transition: background-color 0.3s ease;
}

.hero .buttons a:hover {
  background-color: #f07d63;
}

.green {
  background-color: #778976;
}

.divider {
  display: flex;
  justify-content: center;
  background-repeat: repeat-x;
  margin-bottom: 12px;
}

.content .container {
  display: block;
  margin: 0 auto;
  padding: 30px 10px;
  overflow: hidden;
}

.content .container h1 {
  font-family: 'Playfair Display', serif;
  text-align: center;
  font-size: 64px;
  margin-bottom: 24px;
  font-weight: 800;
}

.content .container h2 {
  font-size: 36px;
  margin-bottom: 18px;
}

.green .container {
  color: #fff;
}

.about-the-doc .divider {
  background-image: url('images/divider-repeat-green-top.png');
  height: 22px;
  /* margin-bottom: -100px; */
}

.content .divider img {
  box-shadow: none;
  border-radius: 0;
}

.content img {
  border-radius: 10px;
  box-shadow: 5px 5px 0px 0px #0000004c;
}

.content .container img {
  border: 6px solid #fff;
}

.content img.float-right {
  float: right;
  max-width: 550px;
}

.content img.float-left {
  float: left;
  max-width: 550px;
}

.content .container p {
  font-size: 28px;
  line-height: 48px;
  margin-bottom: 32px;
}

.content .center {
  display: block;
  margin: 0 auto;
  max-width: 800px;
  width: 100%;
  margin-bottom: 24px;
}

.our-services .divider {
  background-image: url('images/divider-repeat-green-bottom.png');
  height: 22px;
  /* margin-bottom: -100px; */
}

.lists-two-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 32px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 5px 5px 0px 0px #0000004c;
}

.lists-two-column ul {
  display: flex;
}

.lists-two-column ul:last-of-type {
  margin-bottom: 0;
}

.lists-two-column ul li {
  display: flex;
  align-items: center;
  width: 50%;
  list-style: none;
  font-weight: 700;
  padding: 20px 40px;
  font-size: 28px;
  line-height: 48px;
  background-color: rgb(232, 232, 232);
  border-right: 3px dotted #fff;
  border-bottom: 3px dotted #fff;
}

.lists-two-column ul:nth-child(even) li {
  background-color: rgb(216, 216, 216);
}

.our-services ul li:last-of-type {
  border-right: none;
}

.our-services ul:last-of-type li {
  border-bottom: none;
}

.content .button {
  display: flex;
  justify-content: center;
  margin-right: 0;
}

footer {
  background: #485347;
  padding: 35px 0;
  color: #fff;
}

footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .left {
  display: flex;
}

footer .right p {
  color: #fff;
  line-height: 25px;
}

footer .center {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 14px;
  letter-spacing: 1px;
}

footer .center a {
  font-weight: 700;
  font-size: 20px;
  display: inline;
  padding: 0;
  text-decoration: underline;
  font-size: inherit;
  text-align: center;
  color: #eec319;
}

footer .center a:hover {
  text-decoration: none;
}
